:root {
    --clr-primary-dot-blue: #324191;
    --clr-primary-dot-turquoise: #007db8;
    --clr-secondary-pink: #cf2a7c;
    --clr-secondary-yellow: #fbdb65;
    --clr-secondary-mint: #25dbb7;
    --clr-secondary-purple: #875daa;
    --clr-neutral-black: #000000;
    --clr-neutral-dark-grey: #757575;
    --clr-neutral-grey: #e8e8e8;
    --clr-neutral-light-grey: #f4f4f4;
    --clr-neutral-white: #ffffff;
}